@media (min-width: 1200px){
    .col-xl-4{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-xl-5 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-xl-7{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%; 
    }
    .col-xl-8{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%; 
    }
    
}

/*********************************** Buttons *********************************/
.blue-button {
    background: #3b7cff!important;
    color: #ffffff!important;
    border: none!important;
    padding: 7px 18px!important;
    border-radius: 2px!important;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block!important;
    min-width: 100px;
    text-align: center;

    &:hover, &:focus {
        background: #0f5efd !important;
        color: #ffffff!important;
    }
}

.gray-button {
    background: #dde4e9!important;
    color: #8392a7!important;
    border: none!important;
    padding: 7px 18px!important;
    border-radius: 2px!important;
    margin-right: 10px;
    display: inline-block!important;
    min-width: 100px;
    text-align: center;

    &:hover, &:focus {
        background: #dbe0e4 !important;
        color: #8392a7 !important;
    }
}

.white-button {
    background: white!important;
    min-width: 100px;
    color: #3b4859!important;
    border: none!important;
    padding: 7px 18px!important;
    border-radius: 2px!important;
    margin-right: 10px;
    display: inline-block!important;
    text-align: center;
    border: 1px solid #e6e6e6!important;
    &:hover, &:focus {
        background: #e6e6e6!important;
        color: #3b4859!important;
    }

    i {
        color: #57a4ff !important;
    }
}

a {
    &:focus, &:hover {
        color: #000000;
    }
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
    
}

.v-a-top{
    vertical-align: top;
}
.v-a-middle{
    vertical-align: middle;
}


.d-flex {
    display: flex;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}

.p-t-0 {
    padding-top: 0 !important;
}
.p-t-5 {
    padding-top: 5px !important;
}
.p-t-10 {
    padding-top: 10px !important;
}
.p-t-15 {
    padding-top: 15px !important;
}
.p-t-20 {
    padding-top: 20px !important;
}
.p-r-0 {
    padding-right: 0 !important;
}
.p-r-5 {
    padding-right: 5px !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
.p-r-20 {
    padding-right: 20px !important;
}
.p-b-0 {
    padding-bottom: 0px !important;
}
.p-b-5 {
    padding-bottom: 5px !important;
}
.p-b-10 {
    padding-bottom: 10px !important;
}
.p-b-15 {
    padding-bottom: 15px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}
.p-l-0 {
    padding-left: 0 !important;
}
.p-l-5 {
    padding-left: 5px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.p-l-15 {
    padding-left: 15px !important;
}
.p-l-20 {
    padding-left: 20px !important;
}

.m-l-0 {
    margin-left: 0 !important;
}
.m-r-0 {
    margin-right: 0 !important;
}
.m-t-0 {
    margin-top: 0 !important;
}
.m-b-0 {
    margin-bottom: 0 !important;
}

.width-25{
    width: 25% !important;
}
.width-50{
    width: 50% !important;
}
.width-75{
    width: 75% !important;
}
.width-100{
    width: 100% !important;
}
.width-auto {
    width: auto !important;
}

.min-width-inherit {
    min-width: inherit !important;
}

.border-bottom-0 {
    border-bottom: none !important;
}

.orange{
    color: #FF8F00;
}
.yellow-green{
    color: #7ED321;
}
.red{
    color: #F93D3D;
}
.yellow{
    color: #FFFF00;
}
.blue{
    color: #438AFB;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.servicedesk-page-container {
    background-color: $servicedesk-container-background-color;
    margin: 10px 20px;
    border-radius: 10px;
    padding-bottom: 10px;
    position: relative;
    .common-container {
        padding-top: 20px;
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 15px;
        border-bottom: 1px solid $servicedesk-container-border-color;
    }
    .page-heading{
        display: block;
        margin-bottom: 0;
        h1{
            color: $page-heading-text-color ;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            display: block;
            margin-bottom: 0;
        }
        span{
            display: block;
            color: #A9B9C6;
            font-size: 13px;
            line-height: 18px;
            font-weight: 500;
        }
    }
}

@media (max-width: 992px){
    .breadcrumbs-container{
        .breadcrumbs{
            float: none;
            padding-top: 5px;
        }
    }
}

/*********************************** Filters Container *********************************/
.form-group {
    margin-bottom: 1rem;
    label {
        margin-bottom: 0.5rem;
    }
}
  
.filter-container {    
    .filter-control-group {
        max-width: 250px;
        padding-left: 0px;
        .form-control{
            background-color: #f0f3f7 !important;
            border: none !important;
            font-size: 12px;
            cursor: pointer;
            height: 35px;
        }
        label{
            color: $filter-container-label-text-color;
            font-size: 14px;
        }
    }
}

.create-btn{
    position: relative;
    z-index: 1;
}
.open-full-screen{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.open-create-menu{
    position: absolute;
    z-index: 100;
    right: 15px;
    top: 36px;
    background-color: #f0f3f7;
    box-shadow: 0px 2px 5px #00000029;
    width: 120px;
    z-index: 10;
    padding: 5px 0;
    a{
        color: #2a9ce7;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        display: block;
        padding: 4px 0;
    }
}

.contact-popup-container{
    .heading{
        h4{
            color: #323C47;
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        span{
            color: #A9B9C6;
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            a{
                color: #49C740;
            }
        }
    }
    .upload-photo{
        position: relative;
        z-index: 10;
        margin-top: 10px;
        margin-bottom: 20px;
        .upload-icon{
            background-color: #438AFB;
            border-radius: 2px;
            padding: 0;
            width: 44px;
            height: 44px;
            color: #ffffff;
            font-size: 24px;
            line-height: 44px;
            text-align: center;
            margin-right: 15px;
            vertical-align: top;
        }
        strong{
            font-size: 16px;
            line-height: 20px;
            color: #438AFB;
        }
        p{
            color: #A9B9C6;
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            margin-bottom: 0;
        }
        .contactPhoto{
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 60%;
            height: 100%;
            cursor: pointer;
        }
        .companyLogo{
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 60%;
            height: 100%;
            cursor: pointer;
        }
    }
    .form-group{
        margin-bottom: 1.5rem;
        label{
            color: #323C47;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            margin-bottom: 0;
            display: block;
        }
        .form-group-inner{
            label{
                display: none;
            } 
        }
        .form-control{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #89898a;
            color: #89898a;
            font-size: 13px;
            line-height: 18px;
            padding: 0.375rem 0.75rem;
            width: 100%;
            border-radius: 0;
            text-align: left;
            &.textarea{
                height: 150px;
            }
            &:focus{
                outline: none;
            }
        }
        .add-conatct{
            font-size: 12px;
            font-weight: 600;
            color: #3B7CFF;
            line-height: 18px;
            border: none;
            background: none;
            padding: 0;
        }
        .invalid-feedback{
            color: red;
            font-size: 13px;
            line-height: 16px;
            font-weight: 400;
            display: block;
        }
    }
    .atleast-fields-box{
        border: 1px solid #D1DAE2;
        background-color: #F9F9F9;
        padding: 20px;
        padding-bottom: 0;
        margin-bottom: 20px;
        h3{
            color: #323C47;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
    .form-check{
        padding-right: 10px;
        .form-check-input{
            display: inline-block;
            margin-top: 2px;
        }
        .form-check-label{
            font-size: 14px;
            line-height: 18px;
            color: #323C47;
            font-weight: 600;
            display: inline-block;
            padding-left: 7px;
        }
    }
    .contact-popup-buttons{
        button{
            border: 1px solid #A9B9C6;
            background-color: #ffffff;
            color: #89898a;
            font-size: 15px;
            line-height: 36px;
            font-weight: 500;
            padding: 0 30px;
            margin: 5px;
            text-align: center;
            &.save{
                border-color: #3B7CFF;
                background-color: #3B7CFF;
                color: #ffffff;
            }
        }
        .create-author{
            padding-right: 5px;
        }
    }
    &.new-ticket-container{
        .form-group{
            label{
                margin-bottom: 5px;
            }
            .form-control{
                border: 1px solid #D1DAE2;
                padding: 0.375rem 0.75rem;
            }
        }
    }
}


@media (max-width: 1200px){
    .filter-container{
        .assessments{
            float: left;
        }
    }
}

.there-no-data {
    text-align: center;
}

