@import "custom.scss";

@import "components/breadcrumbs.scss";
@import "components/modal.scss";

@import "pages/dashboard.scss";
@import "pages/tickets.scss";
@import "pages/all.contacts.scss";
@import "pages/all.companies.scss";
@import "pages/open.tickets.scss";
@import "pages/tickets.details.scss";
@import "pages/reports.scss";
@import "pages/report.helpdesh.scss";
@import "pages/charts.scss";



