$breadcrumbs-background-color: #eff2f7;
$page-title-color: #3b4859;
$breadcrumbs-link-color: #89898a;
$breadcrumbs-link-current-page-color: #2a9ce7;
$servicedesk-container-background-color: #ffffff;
$servicedesk-container-border-color: #f5f6f5;
$page-heading-text-color: #3B4859;
$all-tickets-text-color: #323C47;
$tickets-tabel-row-border-color: #ffffff;
$filter-container-label-text-color: #3b4859;
$ticket-detail-head: rgba(209, 218, 226, 0.2);
$desk-depth-text-color: #323c47;