$breadcrumbs-background-color: #3b4859;
$page-title-color: #ffffff;
$breadcrumbs-link-color: #fcfcfc;
$breadcrumbs-link-current-page-color: #fcfcfc;
$perfmanager-container-background-color: #3b4859;
$perfmanager-container-border-color: #202226;
$dashboard-metrics-text-color: #ffffff;
$catalog-text-color: #ffffff;
$manage-dashboard-text-color: #ffffff;
$collection-dashboard-text-color: #ffffff;
$catalog-collapse-background-color: #202226;
$rules-search-text-color: #ffffff;
$library-text-color: #ffffff;