$breadcrumbs-background-color: #eff2f7;
$page-title-color: #3b4859;
$breadcrumbs-link-color: #89898a;
$breadcrumbs-link-current-page-color: #2a9ce7;
$perfmanager-container-background-color: #ffffff;
$perfmanager-container-border-color: #f5f6f5;
$dashboard-metrics-text-color: #3b4859;
$catalog-text-color: #3b4859;
$manage-dashboard-text-color: #3b4859;
$collection-dashboard-text-color: #3b4859;
$catalog-collapse-background-color: #F8F9FB;
$rules-search-text-color: #3b4859;
$library-text-color: #3b4859;