$breadcrumbs-background-color: #3b4859;
$page-title-color: #ffffff;
$breadcrumbs-link-color: #fcfcfc;
$breadcrumbs-link-current-page-color: #fcfcfc;
$servicedesk-container-background-color: #3b4859;
$servicedesk-container-border-color: #202226;
$page-heading-text-color: #ffffff;
$all-tickets-text-color: #ffffff;
$tickets-tabel-row-border-color: #3b4859;
$filter-container-label-text-color: #ffffff;
$ticket-detail-head: #ffffff;
$desk-depth-text-color: #ffffff;