.all-companies-tabel{
    display: grid;
    width: 100%;
    .select-all{
        .checkbox{
            display: inline-block;
            vertical-align: middle;
            margin-top: -3px;
        }
        label{
            font-size: 14px;
            line-height: 40px;
            color: $all-tickets-text-color;
            font-weight: 500;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .companies-main-tabel{
        overflow-x: scroll;
        .companies-tabel{
            width: 100%;
            thead{
                tr{
                    th{
                        color: #A9B9C6;
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 600;
                        padding: 15px;
                        &:nth-child(1){
                            padding-right: 5px;
                        }
                        &:nth-child(2){
                            padding-left: 5px;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        background-color: #F0F3F7;
                        color: #323C47;
                        font-size: 12px;
                        line-height: 32px;
                        font-weight: 600;
                        padding: 15px;
                        &:nth-child(1){
                            padding-right: 5px;
                        }
                        &:nth-child(2){
                            padding-left: 5px;
                        }
                        &.there-no-data{
                            font-size: 18px;
                        }
                        .checkbox{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .image{
                            width: 40px;
                            height: 40px;
                            margin-left: 15px;
                            margin-right: 15px;
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px){
    .companies-control-group{
        margin-top: 15px;
    }
    .all-companies-container{
        .create-button{
            float: left;
            margin-top: 0px;
        }
        .all-companies-tabel{
            .companies-main-tabel{
                .companies-tabel{
                    width: 992px;
                }
            }
        }
    }
}

@media (max-width: 767px){
    .all-companies-container{
        .create-button{
            float: left;
            margin-top: 15px;
        }
    }
}