.charts-boxs{
    padding-left: 30px;
    padding-right: 30px;
    .chart-box{
        background: #F0F3F7 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 5px #00000029;
        border-radius: 5px;
        min-height: 400px;
        margin-bottom: 30px;
        padding: 30px;
    }
}