.ticketing-box{
    background-color: #F0F3F7;
    box-shadow: 0px 1px 5px #00000029;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    .image{
        padding-bottom: 10px;
    }
    .number{
        color: #3B4859;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        padding-bottom: 5px;
    }
    .name{
        color: #3B4859;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
    }
}

.ticket-trends{
    background-color: #F0F3F7;
    box-shadow: 0px 1px 5px #00000029;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 345px;
    .heading{
        h3{
            font-size: 16px;
            line-height: 20px;
            color: #323C47;
            font-weight: 600;
            margin-bottom: 2px;
        }
        span{
            font-size: 12px;
            line-height: 15px;
            color: #3B4859;
            font-weight: 400;
        }
    }
    .days-box{
        .form-check{
            margin-right: 20px;
            .form-check-input{
                display: inline-block;
                vertical-align: top;
                margin-top: 3px;
            }
            .form-check-label{
                font-size: 12px;
                line-height: 19px;
                color: #3B4859;
                font-weight: 400;
                display: inline-block;
                padding-left: 8px;
                vertical-align: top;
            }
        }
    }
    .calendar-box{
        font-size: 12px;
        .fa{
            font-size: 12px;
            line-height: 15px;
            color: #3B4859;
            font-weight: 400;
            padding: 0 4px;
        }
        span{
            font-size: 12px;
            line-height: 15px;
            color: #3B4859;
            font-weight: 400;
            padding: 0 4px;
        }
        .react-date-picker__wrapper{
            border: none;
        }
        .react-date-picker__button{
            padding: 0 0 0 4px;
        }
    }
    .ticket-graphs{
        canvas{
            height: 220px!important;
            width: 100%!important;
        }
        .hours-text{
            font-size: 13px;
            line-height: 16px;
            color: #A9B9C6;
            font-weight: 500;
        }
    }
}

.performer-agents{
    background-color: #F0F3F7;
    box-shadow: 0px 1px 5px #00000029;
    border-radius: 5px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
    min-height: 345px;
    .heading{
        color: #323C47;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        padding-bottom: 15px;
    }
    .performer-agents-table{
        width: 100%;
        thead{
            tr{
                th{
                    border-bottom: 1px solid #A9B9C6;
                    color: #A9B9C6;
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 600;
                    padding: 10px 10px 10px 0;
                    &:last-child{
                        padding-right: 0;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    border-bottom: 1px solid #A9B9C6;
                    color: #323C47;
                    font-size: 12px;
                    line-height: 32px;
                    font-weight: 600;
                    padding: 10px 10px 10px 0;
                    &:last-child{
                        padding-right: 0;
                    }
                    .image{
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: #A9B9C6;
                        margin-right: 10px;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
        }
    }
}

.dashboard-all-ticket-tabel{
    .heading{
        h2{
            font-size: 18px;
            line-height: 24px;
            color: $all-tickets-text-color;
            font-weight: 600;
            margin-bottom: 2px;
            a{
                color: $all-tickets-text-color; 
            }
        }
        span{
            font-size: 13px;
            line-height: 16px;
            color: #A9B9C6;
            font-weight: 400;
        }
    }
    .all-support-ticket-tabel{
        display: grid;
        width: 100%;     
        .tickets-tabel{
            overflow-x: scroll;
            .ticket-tabel{
                thead{
                    tr{
                        th{
                            color: #A9B9C6;
                            font-size: 12px;
                            line-height: 16px;
                            font-weight: 600;
                            padding: 15px;
                            &:nth-child(1){
                                padding-right: 5px;
                            }
                            &:nth-child(2){
                                padding-left: 5px;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        border-bottom: 7px solid $tickets-tabel-row-border-color;
                        td{
                            background-color: #F0F3F7;
                            color: #323C47;
                            font-size: 12px;
                            line-height: 32px;
                            font-weight: 600;
                            padding: 15px;
                            &:nth-child(1){
                                padding-right: 5px;
                            }
                            &:nth-child(2){
                                padding-left: 5px;
                            }
                            &.subjects{
                                font-size: 11px;
                            }
                            &.date{
                                font-size: 11px;
                            }
                            &.there-no-data{
                                font-size: 18px;
                            }
                            .image{
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                overflow: hidden;
                                background-color: #A9B9C6;
                                margin-right: 10px;
                                display: inline-block;
                                vertical-align: top;
                            }
                            .priority{
                                background-color: rgba(169, 185, 198, 0.3);
                                padding: 4px 10px;
                                color: #A9B9C6;
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 20px;
                                border-radius: 3px;
                                display: inline-block;
                                min-width: 70px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .ticket-trends-main{
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .performer-agents-main{
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        .performer-agents{
            margin-top: 30px;
        }
    }
}


@media (max-width: 992px){
    .performer-agents{
        margin-top: 30px;
    }
    .create-button{
        float: left;
        margin-top: 15px;
    }
    .days-box{
        float: left;
        margin-top: 10px;
    }
    .calendar-box{
        float: left;
        margin-top: 10px;
    }
}