
.all-open-ticket-tabel{
    display: grid;
    width: 100%;
    .heading{
        h2{
            font-size: 18px;
            line-height: 24px;
            color: $all-tickets-text-color;
            font-weight: 600;
            margin-bottom: 2px;
        }
        span{
            font-size: 13px;
            line-height: 16px;
            color: #A9B9C6;
            font-weight: 400;
        }
    }

    .open-tickets-tabel{
        overflow-x: scroll;
        .open-ticket-tabel{
            thead{
                tr{
                    th{
                        color: #A9B9C6;
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 600;
                        padding: 15px;
                        &:nth-child(1){
                            padding-right: 5px;
                        }
                        &:nth-child(2){
                            padding-left: 5px;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        color: $all-tickets-text-color;
                        background-color: #F0F3F7;
                        font-size: 12px;
                        line-height: 32px;
                        font-weight: 600;
                        padding: 15px;
                        &:nth-child(1){
                            padding-right: 5px;
                        }
                        &:nth-child(2){
                            padding-left: 5px;
                        }
                        &.subjects{
                            font-size: 11px;
                        }
                        &.date{
                            font-size: 11px;
                        }
                        .image{
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            overflow: hidden;
                            background-color: #A9B9C6;
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: top;
                        }
                        .priority{
                            background-color: rgba(169, 185, 198, 0.3);
                            padding: 4px 10px;
                            color: #A9B9C6;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 20px;
                            border-radius: 3px;
                            display: inline-block;
                            min-width: 70px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 992px){
    .sortby{
        float: left;
        margin-top: 10px;
    }
    .filters-button{
        float: left;
        margin-top: 10px;
    }    
}
@media (max-width: 767px){
    .create-btn{
        float: left;
        margin-bottom: 0;
        margin-top: 10px;
    }
}
