
.all-open-ticket-tabel{
    display: grid;
    width: 100%;
    .heading{
        h2{
            font-size: 18px;
            line-height: 24px;
            color: $all-tickets-text-color;
            font-weight: 600;
            margin-bottom: 2px;
        }
        span{
            font-size: 13px;
            line-height: 16px;
            color: #A9B9C6;
            font-weight: 400;
        }
    }

}

@media (max-width: 992px){
    .sortby{
        float: left;
        margin-top: 10px;
    }
    .filters-button{
        float: left;
        margin-top: 10px;
    }    
}
@media (max-width: 767px){
    .create-btn{
        float: left;
        margin-bottom: 0;
        margin-top: 10px;
    }
}
