.tickets-number-box{
    padding-right: 75px;
    h3{
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
    }
    span{
        color: #A9B9C6;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }
}

.quarter-form{
    .form-control{
        background-color: #f0f3f7 !important;
        border: none !important;
        font-size: 12px;
        cursor: pointer;
        height: 35px;
    }
}


.chart-inner{
    canvas{
        width: 100%!important;
    }
}

.apply-filters-button{
    margin-top: 8px;
}




@media only screen and (max-width: 992px) and (min-width: 768px) {
    .tickets-number-box{
        h3{
            font-size: 22px;
            line-height: 26px;
        }
        span{
            font-size: 10px;
            line-height: 18px;
        }
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .tickets-number-box {
        padding-right: 15px;
    }
    
}
@media (max-width: 992px){
    .tickets-number-box {
        padding-right: 15px;
    }
    .quarter-form{
        padding-top: 15px;
    }
    
}
@media (max-width: 767px){
    .tickets-number-box{
        display: block;
        padding-top: 15px;
        text-align: left;
    }
    .create-btn{
        float: left;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .open-create-menu{
        left: 15px;
        top: 45px;
    }
}
