@media (min-width: 1200px) {
  .col-xl-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xl-7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

/*********************************** Buttons *********************************/
.blue-button {
  background: #3b7cff !important;
  color: #ffffff !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 2px !important;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block !important;
  min-width: 100px;
  text-align: center;
}
.blue-button:hover,
.blue-button:focus {
  background: #0f5efd !important;
  color: #ffffff !important;
}

.gray-button {
  background: #dde4e9 !important;
  color: #8392a7 !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 2px !important;
  margin-right: 10px;
  display: inline-block !important;
  min-width: 100px;
  text-align: center;
}
.gray-button:hover,
.gray-button:focus {
  background: #dbe0e4 !important;
  color: #8392a7 !important;
}

.white-button {
  background: white !important;
  min-width: 100px;
  color: #3b4859 !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 2px !important;
  margin-right: 10px;
  display: inline-block !important;
  text-align: center;
}
.white-button:hover,
.white-button:focus {
  background: #e6e6e6 !important;
  color: #3b4859 !important;
}
.white-button i {
  color: #57a4ff !important;
}

a:focus,
a:hover {
  color: #000000;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.v-a-top {
  vertical-align: top;
}

.v-a-middle {
  vertical-align: middle;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.width-auto {
  width: auto;
}

.min-width-inherit {
  min-width: inherit !important;
}

.border-bottom-0 {
  border-bottom: none !important;
}

.orange {
  color: #ff8f00;
}

.yellow-green {
  color: #7ed321;
}

.red {
  color: #f93d3d;
}

.yellow {
  color: #ffff00;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.servicedesk-page-container {
  background-color: #3b4859;
  margin: 10px 20px;
  border-radius: 10px;
  padding-bottom: 10px;
}
.servicedesk-page-container .common-container {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #202226;
}
.servicedesk-page-container .page-heading {
  display: block;
  margin-bottom: 0;
}
.servicedesk-page-container .page-heading h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: block;
  margin-bottom: 0;
}
.servicedesk-page-container .page-heading span {
  display: block;
  color: #a9b9c6;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

@media (max-width: 992px) {
  .breadcrumbs-container .breadcrumbs {
    float: none;
    padding-top: 5px;
  }
}

#servicedesk-main-container .breadcrumbs-container {
  background-color: #3b4859;
  padding: 14px 20px 15px;
  font-size: 13px;
}
#servicedesk-main-container .breadcrumbs-container .page-title {
  color: #ffffff;
  display: inline-block;
}
#servicedesk-main-container .breadcrumbs-container .breadcrumbs {
  float: right;
}
#servicedesk-main-container .breadcrumbs-container a.breadcrumbs-link {
  color: #fcfcfc;
}
#servicedesk-main-container .breadcrumbs-container .current-page {
  color: #fcfcfc;
}
#servicedesk-main-container .breadcrumbs-container .separator {
  color: #fcfcfc;
  display: inline-block;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .breadcrumbs-container .breadcrumbs {
    float: none;
    padding-top: 5px;
  }
}

.ticketing-box {
  background-color: #f0f3f7;
  box-shadow: 0px 1px 5px #00000029;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.ticketing-box .image {
  padding-bottom: 10px;
}
.ticketing-box .number {
  color: #3b4859;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-bottom: 5px;
}
.ticketing-box .name {
  color: #3b4859;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.ticket-trends {
  background-color: #f0f3f7;
  box-shadow: 0px 1px 5px #00000029;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 345px;
}
.ticket-trends .heading h3 {
  font-size: 16px;
  line-height: 20px;
  color: #323c47;
  font-weight: 600;
  margin-bottom: 2px;
}
.ticket-trends .heading span {
  font-size: 12px;
  line-height: 15px;
  color: #3b4859;
  font-weight: 400;
}
.ticket-trends .days-box .form-check {
  margin-right: 25px;
}
.ticket-trends .days-box .form-check .form-check-input {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}
.ticket-trends .days-box .form-check .form-check-label {
  font-size: 12px;
  line-height: 21px;
  color: #3b4859;
  font-weight: 400;
  display: inline-block;
  padding-left: 8px;
  vertical-align: top;
}
.ticket-trends .calendar-box .fa {
  font-size: 12px;
  line-height: 15px;
  color: #3b4859;
  font-weight: 400;
  padding: 0 4px;
}
.ticket-trends .calendar-box span {
  font-size: 12px;
  line-height: 15px;
  color: #3b4859;
  font-weight: 400;
  padding: 0 4px;
}
.ticket-trends .ticket-graphs {
  height: 250px;
}
.ticket-trends .ticket-graphs .hours-text {
  font-size: 13px;
  line-height: 16px;
  color: #a9b9c6;
  font-weight: 500;
}

.performer-agents {
  background-color: #f0f3f7;
  box-shadow: 0px 1px 5px #00000029;
  border-radius: 5px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
  min-height: 345px;
}
.performer-agents .heading {
  color: #323c47;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-bottom: 15px;
}
.performer-agents .performer-agents-table {
  width: 100%;
}
.performer-agents .performer-agents-table thead tr th {
  border-bottom: 1px solid #a9b9c6;
  color: #a9b9c6;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  padding: 10px 10px 10px 0;
}
.performer-agents .performer-agents-table thead tr th:last-child {
  padding-right: 0;
}
.performer-agents .performer-agents-table tbody tr td {
  border-bottom: 1px solid #a9b9c6;
  color: #323c47;
  font-size: 12px;
  line-height: 32px;
  font-weight: 600;
  padding: 10px 10px 10px 0;
}
.performer-agents .performer-agents-table tbody tr td:last-child {
  padding-right: 0;
}
.performer-agents .performer-agents-table tbody tr td .image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #a9b9c6;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

.all-ticket-tabel {
  display: grid;
  width: 100%;
}
.all-ticket-tabel .heading h2 {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 2px;
}
.all-ticket-tabel .heading h2 a {
  color: #ffffff;
}
.all-ticket-tabel .heading span {
  font-size: 13px;
  line-height: 16px;
  color: #a9b9c6;
  font-weight: 400;
}
.all-ticket-tabel .showing {
  font-size: 13px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 500;
}
.all-ticket-tabel .sortby label {
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 500;
  padding-right: 15px;
}
.all-ticket-tabel .sortby .form-control {
  display: inline-block;
  width: 175px;
  border-radius: 25px;
}
.all-ticket-tabel .tickets-tabel {
  overflow-x: scroll;
}
.all-ticket-tabel .tickets-tabel .ticket-tabel {
  width: 1200px;
}
.all-ticket-tabel .tickets-tabel .ticket-tabel thead tr th {
  color: #a9b9c6;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  padding: 15px;
}
.all-ticket-tabel .tickets-tabel .ticket-tabel tbody tr {
  border-bottom: 7px solid #3b4859;
}
.all-ticket-tabel .tickets-tabel .ticket-tabel tbody tr td {
  background-color: #f0f3f7;
  color: #323c47;
  font-size: 12px;
  line-height: 32px;
  font-weight: 600;
  padding: 15px;
}
.all-ticket-tabel .tickets-tabel .ticket-tabel tbody tr td.subjects {
  font-size: 11px;
}
.all-ticket-tabel .tickets-tabel .ticket-tabel tbody tr td.date {
  font-size: 11px;
}
.all-ticket-tabel .tickets-tabel .ticket-tabel tbody tr td.there-no-data {
  font-size: 18px;
}
.all-ticket-tabel .tickets-tabel .ticket-tabel tbody tr td .image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #a9b9c6;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
.all-ticket-tabel .tickets-tabel .ticket-tabel tbody tr td .priority {
  background-color: rgba(169, 185, 198, 0.3);
  padding: 4px 10px;
  color: #a9b9c6;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 3px;
  display: inline-block;
  min-width: 70px;
  text-align: center;
}
.all-ticket-tabel .pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.all-ticket-tabel .pagination ul li {
  display: inline-block;
}
.all-ticket-tabel .pagination ul li a {
  display: block;
  padding: 5px 10px;
  font-size: 11px;
  color: #868f9b;
  line-height: 16px;
  border: 1px solid #cbcfd4;
  border-right: none;
}
.all-ticket-tabel .pagination ul li a:hover {
  background-color: #cbcfd4;
}
.all-ticket-tabel .pagination ul li a.active {
  background-color: #cbcfd4;
  color: black;
}
.all-ticket-tabel .pagination ul li a.deactive {
  background-color: white;
  color: black;
}
.all-ticket-tabel .pagination ul li a.desable {
  background-color: #5e5757;
  color: white;
}
.all-ticket-tabel .pagination ul li a.enable {
  background-color: #3b4859;
  color: #ffffff;
}
.all-ticket-tabel .pagination ul li.previous a {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.all-ticket-tabel .pagination ul li.next a {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #cbcfd4;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .ticket-trends-main {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .performer-agents-main {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .performer-agents-main .performer-agents {
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
  .performer-agents {
    margin-top: 30px;
  }
  .create-button {
    float: left;
    margin-top: 15px;
  }
  .sortby {
    float: left;
    margin-top: 10px;
  }
  .days-box {
    float: left;
    margin-top: 10px;
  }
  .calendar-box {
    float: left;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=servicedesk.dark.css.map */
