.modal{
  max-width: 992px !important;
  -webkit-box-shadow: 0px 0px 16px #3B48593D;
  box-shadow: 0px 0px 16px #3B48593D;
  border-radius: 10px;
  background: white;
  .modal-content {
    padding: 40px;
    padding-right: 25px;
    .modal-body{
      padding-right: 15px;
    }
    .close-btn{
      background-color: #F93D3D;
      border-radius: 50%;
      color: #ffffff;
      font-size: 15px;
      line-height: 26px;
      width: 28px;
      text-align: center;
      height: 28px;
      border: none;
      font-weight: bold;
      text-shadow: 0px 1px 0px white;
    }
  }

}
.modal-backdrop{
  background-color: #141414B3;
  opacity: 0.8;
}